{% extends 'base.html' %} {% block content %}
<!-- <form action="form" method="POST">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" value="Save Entry" />
</form> -->

<form class="form-horizontal" method="POST" action="">
  {% csrf_token %}
  <div class="row spacer">
    <div class="col-2">
      <label>Please choose staff and the sales he/she has made</label>
    </div>
    <div class="col-4">
      <div class="input-group">
        {{salesEntryForm.as_p}}
      </div>
    </div>
  </div>
  {{ formset.management_form }} {% for form in formset %} {{form}}
  <hr />
  {% endfor %}
  <br />
  <div class="row spacer">
    <div class="col-4 offset-2">
      <button type="submit" class="btn btn-block btn-primary">
        Save Entry
      </button>
    </div>
  </div>
</form>

{% endblock %}
