{% extends 'base.html' %} {% load static %} {% block content %}

<form
  id="sales-form"
  method="POST"
  action=""
  load-price-url="{% url 'ajax_load_price' %}"
>
  {% csrf_token %}
  <h3>Please choose staff and the sales he/she has made</h3>
  <div>
    {{salesEntryForm.as_p}}
  </div>
  {{ formset.management_form }}
  <div class="form-set">
    {% for form in formset %} {{form.non_field_errors}} {{form.errors}}
    <div class="dynamic-form">
      {{ form.as_table }}
    </div>
    {% endfor %}
  </div>
  <br />
  <div class="row spacer">
    <div class="col-4 offset-2">
      <button type="submit" class="submit-sales-entry">
        Save Entry
      </button>
    </div>
  </div>
</form>

<br />
<div>
  The total price of orders in current entry: $
  <input id="entry-total-price" value="1.50" disabled />
</div>

<script
  src="{% static 'js/jquery.formset.js' %}"
  type="text/javascript"
></script>

<script type="text/javascript">
  // To dynamically add/remove forms in formset
  $(function () {
    $(".dynamic-form").formset({
      prefix: "{{ formset.prefix }}",
    });
  });

  // To prevent submission of form by pressing Enter key
  $(document).ready(function () {
    $(window).keydown(function (event) {
      if (event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
  });

  function updateDrink(drink_name, drink_name_id) {
    var drink_price_id = drink_name_id.substring(0, 15) + "price_per_drink";
    var order_price_id = drink_name_id.substring(0, 15) + "order_price";
    var drink_quantity_id = drink_name_id.substring(0, 15) + "quantity";

    var url = $("#sales-form").attr("load-price-url"); // get url of the 'load_price' view
    // initialize AJAX request
    $.ajax({
      url: url,
      data: {
        lemonade: drink_name, // add drink_id to GET parameter
      },
      success: function (response) {
        // `response` is data returned by 'load_price' view
        document.getElementById(drink_price_id).value = response.price;
        var quantity = document.getElementById(drink_quantity_id).value;
        var price_per_drink = document.getElementById(drink_price_id).value;
        var order_price = quantity * price_per_drink;
        document.getElementById(order_price_id).value = order_price;
      },
      error: function () {
        alert("Ajax request failed...");
      },
    });
  }

  function updateQuantity(drink_quantity, drink_name_id) {
    var drink_price_id = drink_name_id.substring(0, 15) + "price_per_drink";
    var order_price_id = drink_name_id.substring(0, 15) + "order_price";

    var quantity = Number(drink_quantity);
    var price_per_drink = document.getElementById(drink_price_id).value;
    var order_price = quantity * price_per_drink;
    document.getElementById(order_price_id).value = order_price;
    // var temp = document.getElementById("#entry-total-price").value;
    // var price_per_drink = document.getElementById(price_field_id).value;
    // var final_price = quantity * price_per_drink;
    // temp += final_price;
    // document.getElementById("#entry-total-price").value = temp;
  }
</script>

{% endblock %}
