{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>MEGAComfort Sales Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <!-- Google CDN for jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body style="background-color: #ebf7fc;">
    {% include 'header.html' %}
    <main>
      {% if messages %} {% for message in messages %}
      <div class="alert alert-{{ message.tags }} m-2" id="msg" role="alert">
        {{ message }}
      </div>
      {% endfor %} {% endif %} {% block content %} {% endblock %}
    </main>

    <script>
      setTimeout(function () {
        if ($("#msg").length > 0) {
          $("#msg").remove();
        }
      }, 5000);
    </script>

    {% include 'footer.html' %}
  </body>
</html>
